<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Causatum</title>
	<script>
	window.addEventListener("message", function(event){
		console.log(event)
	}, false);
	</script>
	
</head>
<body id="" onload="">
	<form>
		<fieldset>
			<ul>
			<li><label for='text'>Event description</label><textarea id='text'></textarea></li>
			<li><label for='source'>Source</label><input type='text' id='source'></input></li>
			</ul>
		</fieldset>
	</form>
</body>
</html>