<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Causatum</title>
	<script>
	window.addEventListener("message", function(event){
		if(event.data != 'ready') {
			console.log(decodeURIComponent(event.data.text))
			document.getElementById('text').value = unescape(decodeURIComponent(event.data.text))
			document.getElementById('source').value = unescape(decodeURIComponent(event.data.url))
		}
	}, false);
	</script>
	
</head>
<body id="" onload="top.postMessage('ready','*')">
	<form>
		<fieldset>
			<ul>
			<li><label for='text'>Event description</label><textarea id='text'></textarea></li>
			<li><label for='source'>Source</label><input type='text' id='source'></input></li>
			<li><button onclick="top.postMessage('close','*')">Save</button></li>
			</ul>
		</fieldset>
	</form>
</body>
</html>